.main {


  height: 100vh;

  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../../public/Landing.svg') no-repeat scroll;
  background-size: cover;


  .searchContainer {

  .search {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    align-items: center;
    margin-bottom: 3rem;

    img {
      margin-right: 2rem;
    }

    .search {
      width: 100%;
      display: flex;
      justify-content: center;

      background-color: white;
      width: 50%;

      border-radius: 10px;
      padding: 5px;
      border: 1px solid #f8eeee;
      box-shadow: 10px 10px 9px -9px rgba(0, 0, 0, 0.2);

      &:hover {
        border: 1px solid var(--teritiary-color);
      }
      input {
        padding: 22px;
        width: 100%;
        border: none;
        border-radius: 10px;

        &:focus {
          outline: none;
        }
      }

    input {
      padding: 20px;
      width: 50%;
    }
  }
  .listContainer {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .specialistCard {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #fbf1f1;
      padding: 50px;
      margin: 2em;
      border-radius: 20px;
      box-shadow: 10px 10px 9px -9px rgba(0, 0, 0, 0.2);
      width: 200px;
      height: auto;
      cursor: pointer;

      &:hover {
        background-color: #f5d5d5;
      }


      img {
        // border-radius: 50%;
        width: 50%;
        height: 50%;
      }
      span {
        font: 1.2em sans-serif;
        margin-top: 1.2em;
        font-weight: 700;
      }
    }
  }
}
